[Unit]
Description=Instagram Service
After=multi-user.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/scewpt/etc/python.env
WorkingDirectory=/home/ubuntu/scewpt/python
ExecStart=/usr/bin/python /home/ubuntu/scewpt/python/instagram/qt/websocket_instagram.py service.bringwood.com
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
