[Unit]
Description=Background Service

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/scewpt/etc/python.env
WorkingDirectory=/home/ubuntu/scewpt/python
ExecStart=/usr/bin/python /home/ubuntu/scewpt/python/twitter/qt/background.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
