[Unit]
Description=Mongo Cache Service

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/scewpt/etc/python.env
WorkingDirectory=/home/ubuntu/scewpt/python
ExecStart=/usr/bin/python /home/ubuntu/scewpt/python/services/mongo_cache.py
Restart=always

[Install]
WantedBy=multi-user.target